body {
	background: #666;
}

#animation-drop {
	position: fixed;
	top: 0;
	right: 0;
	width: 100vw;
	height: 100vh;
}

#animation-drop img {
	width: 5vw;
	animation-timing-function: linear;
	position: absolute;
	margin-top: -100%;
}

@keyframes animation-drop {
	to {
		margin-top: calc(100vh - 0%);
	}
}